  div {
    border: 1px solid;
    margin: 1px;
  }
  
  fieldset div {
    border: 0;
    margin: 0;
  }
  
  .horizontal-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  .horizontal-group-centered {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .vertical-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  